*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-Black";
    src: url("../assets/fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("../assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

body{
    max-width: 1366px;
    background: #FFFFFF;
    overflow-x: hidden;
}

header{
    position: relative;
    height: 800px;
    width: 1366px;
}
.img5{
    display: none;
}

.navbar{
    width: 1366px;
    height: 100px;
    padding: 23px 147px 0 128px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.navbar .img4{
    display: none;
}

.navbar_content{
    display: flex;
    list-style: none;
    margin-left: 315.94px;
    gap: 35px;
}

.left{
    margin-left: 80px;
    display: flex;
    gap: 15px;
}

.navbar hr{
    width: 1px;
    height: 43px;
    background: #FFFFFF;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-left: 35px;
}

.right{
    margin-left: 35px;
    display: flex;
    gap: 15px;
}

.navbar_content li a{
    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222124;
    text-decoration: none;
}

.left p{
    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    width: 146px;
}

.navbar span{
    font-family: 'Inter-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    color: #FFFFFF;
}

.right p{
    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    width: 90px;
}

.header_fon{
    background: #800A7A;
    width: 571px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn3{
    display: none;
}

.btn4{
    display: none;
}

header h1{
    font-family: 'Inter-Black',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 85px;
    color: #222124;
    position: absolute;
    top: 201px;
    left: 128px;
}

article p{
    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #222124;
    position: absolute;
    top: 470px;
    left: 128px;
}

selector{
    display: flex;
}

selector img{
    width: 801px;
    height: 634px;
    position: relative;
    z-index: 1;
    margin-top: 38px;
    margin-left: 550px;
}

.header_cards{
    display: flex;
    gap: 41px;
    position: absolute;
    bottom: 0;
    left: 117px;
}

.header_cards .card1{
    width: 255px;
    height: 200px;
    background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
    border-radius: 12px;

    padding: 20px 0 0 31px;
    position: relative;
}

.header_cards .card1 button{
    width: 119px;
    height: 40px;

    background: rgba(255, 255, 255, 0.203344);
    border-radius: 19px;
    border: 0;

    font-family: 'Inter-Medium',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.header_cards .img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.header_cards .card1 h3{
    font-family: 'Inter-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 32px;
    text-transform: uppercase;
    color: #E76A06;
    margin-top: 56px;
    margin-right: 2px;
}

.header_cards .card2{
    width: 255px;
    height: 200px;
    background: #800A7A;
    border-radius: 12px;

    padding: 20px 0 0 31px;
    position: relative;
}

.header_cards .card2 button{
    width: 174px;
    height: 40px;

    background: rgba(255, 255, 255, 0.203344);
    border-radius: 19px;
    border: 0;

    font-family: 'Inter-Medium',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.header_cards .img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.header_cards .card2 h3{
    font-family: 'Inter-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FC96F7;
    margin-top: 56px;
    margin-right: 2px;
}

.hr{
    width: 1109px;
    height: 1px;
    background: #979797;
    opacity: 0.2;
    border: 1px solid #979797;
    margin-top: 79.5px;
    margin-left: 129px;
}

main{
    padding-top: 39.5px;
    width: 1366px;
}
.button_group{
    display: flex;
    margin-left: 128px;
}

.button_group button{
    padding: 15px 27px 15px 26px;

    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 0;
    color: #222124;
    background: transparent;
}

.button_group .btn2 button:hover{
    background: #F1B301;
    border-radius: 27px;
    color: #FFFFFF;
}

.btn {
    margin-left: 63px;
    width: 160px;
    height: 54px;
}

.btn:hover{
    background: #F5F5F5;
    border-radius: 27px;
}


.btn img{
    margin-right: 17px;
}

.container{
    width: 1110px;
    height: 1010px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 128px;
}

main h2{
    font-family: 'Inter-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #222124;
    margin-top: 105px;
    margin-left: 128px;
    margin-bottom: 30px;
}

.card{
    width: 540px;
    height: 230px;

    border: 1px solid rgba(151, 151, 151, 0.181927);
    border-radius: 12px;
    background: transparent;
    display: flex;
    position: relative;
    gap: 41px;
    padding: 30px;
}

.card .img2{
    width: 50px;
    height: 50px;
    position: absolute;
    background: rgba(255, 255, 255, 0.249235);
    box-shadow: 0 7px 40px rgba(238, 39, 68, 0.355086);
    backdrop-filter: blur(4.07742px);
    padding: 9px 13px 17px 13px;
    border-radius: 25px;
    left: 30px;
}

.card h4{
    font-family: 'Inter-Medium',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #222124;
}

.card h4 img{
    margin-left: 17px;
}

.card p{
    margin-top: 10px;

    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222124;
    opacity: 0.4;
}

.card h3{
    margin-top: 24px;

    font-family: 'Inter-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222124;
}

.card .bottom img{
    background: #F1B301;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 13px;
}

.card .bottom{
    display: flex;
    gap: 67px;
}

.container2{
    height: 490px;
    width: 1110px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 128px;
}

.main_bottom{
    height: 501px;
    width: 1366px;
    background: #800A7A;
    position: relative;
    padding: 75px 0 94px 128px;
    margin-top: 173px;
}

.main_bottom .img3{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.main_bottom h1{
    font-family: 'Inter-Bold',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
}

.main_bottom .button_group2{
    width: 530px;
    height: 80px;
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}

.button_group2 button{
    width: 250px;
    height: 80px;
    padding: 17.9px 31.14px 17.82px 31.29px;

    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.292941);
    border-radius: 46px;
}

.path{
    position: absolute;
    right: 0;
    top: 133px;
}

footer{
    padding: 124px 0 24px 128px;
    width: 1366px;
}

.footer_top{
    display: flex;
}

.footer_left{
    margin-left: 138px;
}

.footer_center{
    margin-left: 84px;
}

.footer_right{
    margin-left: 337px;
}

footer .footer_top h5{
    font-family: 'Inter-SemiBold',sans-serif;
    font-size: 20px;
    line-height: 18px;
    color: #003846;
    font-weight: 600;
}

.footer_left p{
    font-family: 'Inter-Regular',sans-serif;
    font-size: 14px;
    line-height: 34px;
    font-weight: 400;
    color: #222124;
    margin-top: 24px;
}

.footer_center p{
    font-family: 'Inter-Regular',sans-serif;
    font-size: 14px;
    line-height: 34px;
    font-weight: 400;
    color: #222124;
    margin-top: 24px;
}

.footer_top h4{
    font-family: 'Inter-SemiBold',sans-serif;
    font-size: 20px;
    line-height: 18px;
    color: #222124;
    font-weight: 600;
}

.footer_right h3{
    margin-top: 33px;
    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #222124;
}

.footer_right p{
    font-family: 'Inter-Regular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222124;
    opacity: 0.7;
    margin-top: 13px;
}

footer hr{
    width: 1107px;
    height: 1px;
    background: #979797;
    opacity: 0.3;
    border: 1px solid #979797;
    margin-top: 40px;
}

.footer_bottom{
    margin-top: 27px;
    display: flex;
    gap: 742px;

    font-family: 'Inter-Regular',sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #222124;
    opacity: 0.7;
    font-weight: 400;
}

.footer_bottom img{
    margin-right: 27px;
}


@media (min-width: 0) and (max-width: 414px) {
    body {
        max-width: 414px;
    }

    .navbar {
        padding: 21px 19px 0 16px;
        width: 414px;
        display: flex;
        justify-content: space-between;
    }

    .navbar_content {
        display: none;
    }

    .navbar .left {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .navbar .img4 {
        display: block;
        margin-left: 300px;
    }

    header selector img {
        width: 328px;
        height: 249px;
        margin: 0;
    }

    header selector {
        display: flex;
        flex-direction: column-reverse;
        padding: 38.05px 43px 46px 43px;
    }

    .header_fon {
        width: 414px;
        height: 370px;
        top: 233px;
        left: 0;
    }

    selector article {
        position: relative;
        z-index: 1;
    }

    selector h1 {
        text-align: center;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        top: -37px;
        left: 64px;
    }

    selector p {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        top: 100px;
        left: -10px;
    }

    .header_cards {
        left: 16px;
        top: 626px;
    }

    .hr {
        display: none;
    }

    .button_group {
        margin-top: 52px;
        margin-left: 42px;
        display: flex;
        flex-direction: column;
    }

    .button_group button {
        font-size: 16px;
        line-height: 19px;
    }

    .btn {
        width: 382px;
        height: 46px;
        background: #F1F1F1;
        margin-left: -16px;
        margin-top: 14px;
    }

    main h2 {
        width: 414px;
        text-align: center;
        font-size: 36px;
        line-height: 44px;
        margin-left: 0;
    }

    main .container {
        margin-left: 15.3px;
        width: 387px;
        height: 540px;
        margin-top: 21px;
    }

    main .container .card {
        width: 387px;
        height: 163px;
        padding: 21px 21px 14px 21px;
    }

    .container .card h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .container .card p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 7px;
        width: 205px;
        height: 48px;
    }

    .container .card h3 {
        font-size: 18px;
        line-height: 22px;
        margin-top: 17px;
    }

    .container .card .bottom img {
        width: 35px;
        height: 35px;
        padding: 5px;
    }

    .container .card .bottom {
        gap: 35px;
    }
    .container .card:nth-child(2){
        display: none;
    }
    .container .card:nth-child(4){
        display: none;
    }
    .container .card:nth-child(6){
        display: none;
    }
    .container .card:nth-child(7){
        display: none;
    }

    main .container2 {
        margin-left: 15.3px;
        width: 387px;
        height: 540px;
        margin-top: 21px;
    }
    main .container2 .card {
        width: 387px;
        height: 163px;
        padding: 21px 21px 14px 21px;
    }

    .container2 .card h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .container2 .card p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 7px;
        width: 205px;
        height: 48px;
    }

    .container2 .card h3 {
        font-size: 18px;
        line-height: 22px;
        margin-top: 17px;
    }
    .container2 .card .bottom img {
        width: 35px;
        height: 35px;
        padding: 5px;
    }
    .container2 .card .bottom {
        gap: 35px;
    }
    .container2 .card:nth-child(4){
        display: none;
    }

    .main_bottom{
        width: 414px;
        height: 700px;
        padding: 251px 16px 40px 14px;
    }
    .img3{
        width: 508px;
        height: 334px;
        top: -70px;
    }
    .path{
        display: none;
    }
    .img5{
        display: block;
        width: 356px;
        height: 99px;
        position: absolute;
        top: 80px;
        left:   30px;
    }
    .main_bottom h1{
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        top: 500px;
    }
    .main_bottom button{
        width: 383px;
        height: 80px;
        padding: 17px 97px;
    }
    .button_group2{
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: absolute;
    }

    .button_group2 button img{
        width: 187.46px;
        height: 44.29px;
    }

    .footer_left{
        display: none;
    }
    .footer_center{
        display: none;
    }

    .btn4{
        display: block;
        width: 382px;
        height: 46px;
        position: absolute;

        background: #F1F1F1;
        border: 0;
        border-radius: 27px;

        font-family: 'Inter-Medium',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #003846;
        top: 191px;
    }
    .btn3{
        display: block;
        width: 382px;
        height: 46px;
        position: absolute;

        background: #F1F1F1;
        border: 0;
        border-radius: 27px;

        font-family: 'Inter-Medium',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #003846;
        top: 121px;
    }
    .footer_right h4{
        display: none;
    }

    footer{
        width: 414px;
        display: flex;
        flex-direction: column;
        padding: 29px 16px 19.7px 16px;
        position: relative;
    }

    .footer_top img{
        left: 181px;
        top: 29px;
        position: absolute;
    }

    .footer_top h3{
        font-size: 25px;
        line-height: 33px;
        position: absolute;
        top: 250px;
        left: 80px;
    }

    .footer_right p{
        font-size: 16px;
        line-height: 177.02%;
        text-align: center;
        position: absolute;
        top: 341px;
        left: 44px;
    }

    .footer_bottom h6{
        font-size: 14px;
        line-height: 24px;
        position: absolute;
        top: 495px;
        left: 155px;
    }

    footer hr{
        display: none;
    }

    footer .imgs{
        position: absolute;
        top: 440px;
        left: 100px;
        transform: scale(1.3);
    }
}